@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Mynerve&family=Pacifico&family=Shantell+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Mynerve&family=Pacifico&family=Shantell+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Pacifico&family=Shantell+Sans:wght@300&family=Source+Code+Pro:wght@200&display=swap");

/* .right-half {
  position: absolute;
  margin-left: 700px;
  display: flex;
  width: 800px;
  overflow-y: auto;
  max-height: 595px;
}

.left-half {
  position: absolute;
  width: 45%;
  overflow-y: auto;
  max-height: 585px;
}

.btn {
  background-color: #c47d66;
  color: white;
}

.container-recipes {
  margin: 1px;
  padding: 3px;
  background-image: none !important;
}

.container-title {
  text-align: left;
  margin-left: 150px;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.container-title1 {
  text-align: right;
  margin-top: -60px;
  margin-right: 150px;
  display: inline-block;
  display: flex;
  justify-content: center;
}

th {
  font-size: 15px;
  top: 0;
  position: sticky;
  color: white;
}

.background-gif {
  background-position: x;
} */

/* .left-half {
  width: 45%;
  overflow-y: auto;
  max-height: 100vh;
  margin: 0;
} */

/* .right-container {
  margin: 0;
  width: 55%;
  overflow-y: auto;
  max-height: 100vh;
} */


thead tr:nth-child(1) th{background: #c47d66; position: sticky;top: 0;z-index: 10; color:white}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  padding: 10px;
  margin-top: 10px;
}

.left-title {
  font-size: 45px;
  text-align: center;
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 9;
}

.right-title {
  font-size: 45px;
  display: flex;
  justify-content: center;
  z-index: 9;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  height: 10vh;

  border-bottom: 7px solid #c47d66;
  border-top: 7px solid #c47d66;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.right-title h1 {
  font-family: "Pacifico", cursive;
  text-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.left-title h1 {
  font-family: "Pacifico", cursive;
  height: 10vh;
  text-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.8);
}
.right-container {
  margin-left: 590px;
  overflow-y: auto;
  max-height: 550px;
  background-color: rgb(255, 255, 255);
  width: 58%;
  margin-top: -558px;
}

.row {
  justify-content: center;
  display: flex;
}

.left-container {
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
  width: 40%;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 550px;
}

.row-hover:hover {
  background-color: #c47e665a;
}

/* checkboxes */

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #0033667a;
}
.option-input:checked {
  background: #c47d66;
}
.option-input:checked::before {
  width: 40px;
  height: 40px;
  display: flex;
  content: "\f00c";
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #c47d66;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}
.col-sm-auto {
  display: inline-block;
  align-items: center;
  background-color: white !important;
}

/* Card styling */

.link-button {
  cursor: pointer;
  outline: none;
  width: 100%;
  height: 65px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  color: white;
  background: #c47d66;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

.link-button:hover {
  filter: brightness(95%);
}

.link-button:active {
  transform: scale(0.98);
}

.link-button,
a {
  color: white;
}

.card {
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 10px;
  text-align: center;
}

.card-title {
  font-family: "Gloock", serif;
  font-size: 20px;
}

.card-img-top {
  border-radius: 15px;
}

/* delete ingredient button */

.delete-btn {
  cursor: pointer;
  outline: none;
  width: 70%;
  height: 35px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  color: white;
  background: #c47d66;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

.delete-btn:hover {
  filter: brightness(95%);
}

.delete-btn:active {
  transform: scale(0.98);
}

th,
td,
tr {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
}
