.ingredient-form-container {
  margin: 0;
  min-height: 90vh;
  min-width: 100%;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

#box {
  background: rgb(0, 0, 0);
  margin-top: 30px;
  width: 100vw;
}

.form,
h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.field,
label {
  justify-content: center;
}
