.container {
  min-height: 100vh;
  min-width: 100vw;
}

tr:hover {
  background-color: #c47e665a;
}

.row-hover:hover {
  background-color: #c47e665a;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1;
}
.option-input:hover {
  background: #0033667a;
}
.option-input:checked {
  background: #c47d66;
}
.option-input:checked::before {
  width: 40px;
  height: 40px;
  display: flex;
  content: "\f00c";
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #c47d66;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}

.health-table {
  z-index: 10;
}
