/* submit | cancel buttons */

.form-group {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.login-button {
  cursor: pointer;
  outline: none;
  width: 95px;
  height: 40px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  color: white;
  background: #003366;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  margin-right: 15px;
}

.login-button:hover {
  filter: brightness(95%);
}

.login-button:active {
  transform: scale(0.98);
}

.cancel-button {
  cursor: pointer;
  outline: none;
  width: 95px;
  height: 40px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  color: black;
  background: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

.cancel-button:hover {
  filter: brightness(95%);
}

.cancel-button:active {
  transform: scale(0.98);
}

/* modal content */

.picture-container img {
  top: 50px;
  margin-top: 20px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  border-radius: 9px;
}

h3 {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  color: #282c34;
}

.input {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
}

/* Fields */

.username-field,
.password-field {
  border: 2px solid #003366;
  margin-top: 15px;
}

.input {
  padding: 10px;
}

form {
  width: 100%;
}

/* create account button || button container */

.create-button {
  cursor: pointer;
  outline: none;
  width: 95px;
  height: 40px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  color: white;
  background: #c47d66;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  margin-right: 15px;
}

.create-button:hover {
  filter: brightness(95%);
}

.create-button:active {
  transform: scale(0.98);
}
